// tailwind init
@tailwind base;
@tailwind components;
@tailwind utilities;

// color variables
$grey: #b5b1b1f3;
$trans-white: #ebe9e9bb;
$whitesmoke: whitesmoke;

$cream: #f9f7f7;
$sky: #dbe2ef;
$sea: #3f72af;
$navy: #17222f;


.text-cream {
  color: $cream;
}

.text-sky {
  color: $sky;
}

.text-sea {
  color: $sea;
}

.text-navy {
  color: $navy;
}

//media query breakpoint variables - in accordance w/ tailwind.config

$xxs: 390px;
$xs: 425px;
$sm: 640px;
$md: 768px;
$lg: 1023px;
$xl: 1280px;
$xxl: 1536px; // '2xl' in tailwind

.section {
  position: relative;

  @media (max-width: $lg) {
    min-height: 100vh;
    height: auto;
    padding: 2rem 2rem;
    overflow: hidden;
  }
}

//text elements

.section-header {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
//   color: $navy;

  @media (min-width: $xxs) {
    font-size: 3rem;
  }

  @media (min-width: $sm) {
    font-size: 3.5rem;
  }

  @media (min-width: $md) {
    font-size: 3.75rem;
  }

  @media (min-width: $lg) {
    font-size: 4.5rem;
  }
}

// landing page

.landing-page {
  h5 {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }

  .menu-button {
    font-weight: 600;
    border: 2px groove $trans-white;
    border-radius: 2px;
    background-color: #f9f7f74d;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f9f7f7;
    }
  }
}

//about me page

// project page

.projects-wrapper > div {
  @media (min-width: $lg) {
    padding: 5em 5em 2.5em 5em;
  }
}

.allprojects-header {
  display: none !important;
  position: relative;
  min-height: 20vh;
  height: auto;
  padding: 4rem 2rem;
  overflow: hidden;
}

.project {
  @media (min-width: $lg) {
    scale: 0.7;
  }

  .project-links {
    svg {
      width: 2em;
      height: auto;

      @media (min-width: $md) {
        width: 3em;
      }
    }
  }
}

.project-main {
  &:nth-child(2) {
    background: linear-gradient(transparent, #c4cbd5);
  }
  &:nth-child(3) {
    background: linear-gradient(#c4cbd5, #c4cbd4);
  }
  &:nth-child(4) {
    background: linear-gradient(#c4cbd4, #a8adb7);
  }
}

// contact page

.contact {
  background-color: rgba(0, 0, 0, 0.236);
  .icon {
    border: 2px solid black;
    border-radius: 40px;
  }
}

// accordions

.accordion {
  .container {
    max-width: 650px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .accordion-wrapper {
    border-bottom: 1px solid black;
    overflow: hidden;

    .question-container {
      width: 100%;
      text-align: left;
      padding: 20px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 1.2rem;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    .arrow {
      font-size: 2rem;
      transition: 0.5s ease-in-out;
      min-width: 32px;

      &.active {
        rotate: 180deg;
      }
    }

    .answer-container {
      padding: 0 1rem;
      transition: height 0.7s ease-in-out;
    }

    .answer-content {
      padding: 1rem 0;
      font-size: 1rempx;
      font-style: italic;

      .answer-list {
        list-style: inside;

        & > li {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
