// tailwind init
@tailwind base;
@tailwind components;
@tailwind utilities;

// color variables
$grey: #b5b1b1f3;
$trans-white: #ebe9e9bb;
$whitesmoke: whitesmoke;

//media query breakpoint variables - in accordance w/ tailwind.config

$xxs: 390px;
$xs: 425px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px; // '2xl' in tailwind




.bg-grey{
    background-color: #D0CDCD
}

.bg-white{
    background-color: whitesmoke;
}

.section{
    position: relative;
    min-height: 100vh;
    height: auto;
    padding: 4rem 2rem;
    overflow: hidden;

    background-color: $whitesmoke;
    &:nth-child(2n){
        background-color: $grey;
    }


}


//text elements

.section-header{
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;

    @media (min-width: $sm){
        font-size: 3.5rem;
    }

    @media(min-width: $md){
        font-size: 3.75rem;
    }

    @media(min-width: $lg){
        font-size: 5rem;
    }
}


// landing page

.landing-page{


    h5{
        color: rgb(255, 255, 255);
        font-weight: 500;
    }

    .menu-button{
        font-weight: 600;
        border: 2px groove $trans-white;
        border-radius: 40px;
        background-color: $grey;
    }
}

//about me page



// project page

.project{
    .project-links{

        svg{
            width: 2em;
            height: auto;

            @media(min-width: $md){
                width:3em;
            }
        }
    }
}

// contact page

.contact{
    .icon{
        border: 2px solid black;
        border-radius: 40px;


    }
}


// accordions

.accordion{

      .container {
        max-width: 650px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .accordion-wrapper{
        border-bottom: 1px solid black;
        overflow: hidden;

            .question-container {
                width: 100%;
                text-align: left;
                padding: 20px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 500;
                font-size: 1.2rem;
                background: transparent;
                border: none;
                cursor: pointer;
            }

            .arrow {
                font-size: 2rem;
                transition: .5s ease-in-out;
                min-width: 32px;

                &.active{
                    rotate: 180deg;

                }
            }

            .answer-container {
                padding: 0 1rem;
                transition: height .7s ease-in-out;
            }

            .answer-content {
                padding: 1rem 0;
                font-size: 1rempx;
                font-style: italic;

                .answer-list{
                    list-style: inside;

                    & > li{
                        padding-bottom: 0.5rem;
                    }
                }
              }
        }
}
