// color variables & classes

$cream: #f9f7f7;
$sky: #dbe2ef;
$dark-grey: #f9f7f751;
$sea: #3f72af;
$navy: #17222f;

$gradient1: rgba($sky, 0.75);
$gradient2: rgba($sea, 0.25);
$gradient3: rgba($sea, 0.35);
$gradient4: rgba($sky, 0.15);

.text-cream {
  color: $cream;
}

.text-sky {
  color: $sky;
}

.text-sea {
  color: $sea;
}

.text-navy {
  color: $navy;
}

//media query breakpoint variables - in accordance w/ tailwind.config

$xxs: 390px;
$xs: 425px;
$sm: 640px;
$md: 768px;
$lg: 1023px;
$xl: 1280px;
$xxl: 1536px; // '2xl' in tailwind

// all

* {
  color: $navy;
  scroll-behavior: smooth;
}

// containers

.section {
  position: relative;
  padding-top: 2em;

  @media (max-width: $lg) {
    overflow: hidden;
  }
}

//text elements

.section-header {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;

  @media (min-width: $xxs) {
    font-size: 3rem;
  }

  @media (min-width: $sm) {
    font-size: 3.5rem;
  }

  @media (min-width: $md) {
    font-size: 3.75rem;
  }

  @media (min-width: $lg) {
    font-size: 4.5rem;
  }
}

.navbar * {
  color: #ffffff;
  z-index: 20;
}

//landing page

.landing-page {
  h5 {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }

  .menu-button {
    font-weight: 500;
    border: 2px groove $navy;
    // padding: 1.2em;
    border-radius: 60px;
    background-color: $dark-grey;
    transition:
      background-color 0.2s,
      transform 1s;
    &:hover,
    &:focus {
      background-color: $cream;
      transform: translateY(-5px);
    }
  }

  .bubble-link {
    padding: 1.3em 1.6em;
    margin: 1em;
    border: 2px solid $navy;
    border-radius: 60px;
    scale: 0.9;
    z-index: 100 !important;
    transition: background-color 0.1s;
    &:hover,
    &:focus {
      background-color: $cream;
    }

    .link-icon {
      width: 1.5em;
      height: 1.5em;
    }

    @media (min-width: $xxl) {
      scale: 1;
    }
  }

  .github-link {
    max-width: 5em;
    font-weight: 600;
  }

  .contact-link {
    font-weight: 600;
  }
}

// about me page

.about-me {
  background: linear-gradient(transparent, $gradient1);

  span.font-bold {
    color: $sea;
  }
}

// project page

.projects-wrapper > div {
  @media (min-width: $lg) {
    padding: 5em 5em 2.5em 5em;
  }
}

.allprojects-header {
  display: none !important;
  position: relative;
  min-height: 20vh;
  height: auto;
  padding: 4rem 2rem;
  overflow: hidden;
}

.project {
  @media (min-width: $lg) {
    padding: 0em 5em;

    img {
      box-shadow:
        rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
  }

  .project-links {
    .project-icon {
      padding: 1em;
      border-radius: 60px;
      transition: background-color 0.2s ease-in-out;
      background-color: rgba($dark-grey, 0);
      &:hover,
      &:focus {
        background-color: $dark-grey;
      }
    }

    svg {
      width: 2.5em;
      height: auto;
    }
  }
}

.project-main {
  &:nth-child(2) {
    background: linear-gradient($gradient1, $gradient2);
  }
  &:nth-child(3) {
    background: linear-gradient($gradient2, $gradient3);
  }
  &:nth-child(4) {
    background: $gradient3;
  }
  &:nth-child(5) {
    background: linear-gradient($gradient3, $gradient4);
  }
  &:last-child {
    background: $gradient4;
  }

  @media (min-width: $lg) {
    & > div.project {
      border-top: 0.1px solid $navy;
    }
  }
}

// contact page

.contact {
  background-color: $gradient4;

  .icon {
    border: 2px solid black;
    border-radius: 40px;
  }
}

// accordions

.accordion {
  .container {
    max-width: 650px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .accordion-wrapper {
    border-bottom: 1px solid $navy;
    overflow: hidden;

    .question-container {
      width: 100%;
      text-align: left;
      padding: 20px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 1.2rem;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    .arrow {
      font-size: 2rem;
      transition: 0.5s ease-in-out;
      min-width: 32px;

      &.active {
        rotate: 180deg;
      }
    }

    .answer-container {
      padding: 0 1rem;
      transition: height 0.7s ease-in-out;
    }

    .answer-content {
      padding: 1rem 0;
      font-size: 14px;
      font-style: italic;

      .answer-list {
        list-style: inside;

        & > li {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
